@import "mixins";
@import "variables";
@import "buttons";
@import "title";

header{
    @include flex-row;
    padding: 10px 0px;
    box-shadow: 0px 15px 10px -15px;
    width: 100%;
    z-index: 2;
    img{
        width: 200px;
        height: auto;
    }
}