.order-btn {
  border: none;
  border-radius: 30px;
  padding: 15px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 7px 7px 10px #e6ded1;
          box-shadow: 7px 7px 10px #e6ded1;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 60px;
  margin-top: 20px;
}

.order-btn:hover {
  cursor: pointer;
}

.order-btn:hover::after {
  opacity: .7;
}

.order-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fface8), to(#ae80e5));
  background-image: linear-gradient(to bottom right, #fface8, #ae80e5);
  -webkit-box-shadow: 7px 7px 10px #31302e;
          box-shadow: 7px 7px 10px #31302e;
  opacity: 0;
  z-index: 0;
  border-radius: 30px;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.menu_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("Roboto-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhand';
  src: url("Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: robotoregular;
  margin-left: 0px;
  margin-right: 0px;
}

a {
  text-decoration: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  align-items: flex-start;
  background-color: #31302e;
  padding: 20px;
  margin-bottom: -10px;
}

@media screen and (min-width: 600px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 20px;
  }
}

footer img {
  width: 100px;
  -webkit-filter: invert(100);
          filter: invert(100);
  margin-bottom: 20px;
}

footer a {
  color: white;
  margin-bottom: 5px;
}

footer a i {
  width: 25px;
}

footer a:hover {
  border-bottom: solid 1px white;
}

.order-btn {
  border: none;
  border-radius: 30px;
  padding: 15px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 7px 7px 10px #e6ded1;
          box-shadow: 7px 7px 10px #e6ded1;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 60px;
  margin-top: 20px;
}

.order-btn:hover {
  cursor: pointer;
}

.order-btn:hover::after {
  opacity: .7;
}

.order-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fface8), to(#ae80e5));
  background-image: linear-gradient(to bottom right, #fface8, #ae80e5);
  -webkit-box-shadow: 7px 7px 10px #31302e;
          box-shadow: 7px 7px 10px #31302e;
  opacity: 0;
  z-index: 0;
  border-radius: 30px;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.menu_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("Roboto-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhand';
  src: url("Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: robotoregular;
  margin-left: 0px;
  margin-right: 0px;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
  -webkit-box-shadow: 0px 0px -10px 5px #31302e;
          box-shadow: 0px 0px -10px 5px #31302e;
  width: 100%;
  z-index: 2;
  position: relative;
  margin-bottom: 10px;
}

header img {
  width: 200px;
  height: auto;
}

header a {
  position: absolute;
  top: 15px;
  left: 20px;
}

header a i {
  text-decoration: none;
  color: #31302e;
  font-size: 20px;
}

.order-btn {
  border: none;
  border-radius: 30px;
  padding: 15px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 7px 7px 10px #e6ded1;
          box-shadow: 7px 7px 10px #e6ded1;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 60px;
  margin-top: 20px;
}

.order-btn:hover {
  cursor: pointer;
}

.order-btn:hover::after {
  opacity: .7;
}

.order-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fface8), to(#ae80e5));
  background-image: linear-gradient(to bottom right, #fface8, #ae80e5);
  -webkit-box-shadow: 7px 7px 10px #31302e;
          box-shadow: 7px 7px 10px #31302e;
  opacity: 0;
  z-index: 0;
  border-radius: 30px;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.menu_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("Roboto-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhand';
  src: url("Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: robotoregular;
  margin-left: 0px;
  margin-right: 0px;
}

a {
  text-decoration: none;
}

.container {
  height: 300vh;
  width: 100vw;
  font-family: Helvetica;
  background-color: #f5f2eb;
  opacity: 0.7;
  position: fixed;
  z-index: 10;
  -webkit-animation: disapear 2000ms linear forwards;
          animation: disapear 2000ms linear forwards;
}

.container .loader {
  height: 40px;
  width: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.container .loader--dot {
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #31302e;
  position: absolute;
  border: 2px solid white;
}

.container .loader--dot:first-child {
  background-color: #99E2D0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.container .loader--dot:nth-child(2) {
  background-color: #9356DC;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.container .loader--dot:nth-child(3) {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.container .loader--dot:nth-child(4) {
  background-color: #9356DC;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.container .loader--dot:nth-child(5) {
  background-color: #99E2D0;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.container .loader--dot:nth-child(6) {
  background-color: #FF79DA;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.container .loader--text {
  position: absolute;
  top: 250%;
  left: 0;
  right: 0;
  width: 35rem;
  margin: auto;
  font-size: 35px;
  font-family: robotoregular;
}

.container .loader--text:after {
  content: "En cours de chargement";
  font-weight: bold;
  -webkit-animation-name: loading-text;
          animation-name: loading-text;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes disapear {
  15% {
    opacity: .7;
    height: 100%;
  }
  45% {
    opacity: .7;
    height: 100%;
  }
  65% {
    opacity: .7;
    height: 100%;
  }
  95% {
    opacity: .7;
    height: 20%;
  }
  100% {
    opacity: 0;
    z-index: -1;
    height: 20%;
  }
}

@keyframes disapear {
  15% {
    opacity: .7;
    height: 100%;
  }
  45% {
    opacity: .7;
    height: 100%;
  }
  65% {
    opacity: .7;
    height: 100%;
  }
  95% {
    opacity: .7;
    height: 20%;
  }
  100% {
    opacity: 0;
    z-index: -1;
    height: 20%;
  }
}

@-webkit-keyframes loader {
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(360px);
            transform: translateX(360px);
  }
  65% {
    -webkit-transform: translateX(360px);
            transform: translateX(360px);
  }
  95% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes loader {
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(360px);
            transform: translateX(360px);
  }
  65% {
    -webkit-transform: translateX(360px);
            transform: translateX(360px);
  }
  95% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes loading-text {
  0% {
    content: "En cours de chargement";
  }
  25% {
    content: "En cours de chargement.";
  }
  50% {
    content: "En cours de chargement..";
  }
  75% {
    content: "En cours de chargement...";
  }
}

@keyframes loading-text {
  0% {
    content: "En cours de chargement";
  }
  25% {
    content: "En cours de chargement.";
  }
  50% {
    content: "En cours de chargement..";
  }
  75% {
    content: "En cours de chargement...";
  }
}

h1 {
  font-weight: bolder;
  font-size: 30px;
}

.subheader {
  background-color: #e6ded1;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3rem;
  color: #31302e;
  font-weight: bold;
  z-index: 1;
}

.subheader .fas {
  position: relative;
  right: 1.6rem;
  font-size: 1.4rem;
}

.nav {
  background-color: #f5f2eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 40px;
  text-align: center;
}

.nav .nav_undertitle {
  font-family: robotothin;
  font-size: 22px;
  color: #31302e;
  margin-top: 0px;
  margin-bottom: 40px;
}

.nav .nav_btn {
  border: none;
  border-radius: 30px;
  padding: 15px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 7px 7px 10px #e6ded1;
          box-shadow: 7px 7px 10px #e6ded1;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-size: 18px;
  margin-bottom: 60px;
}

.nav .nav_btn:hover {
  cursor: pointer;
}

.nav .nav_btn:hover::after {
  opacity: .7;
}

.nav .nav_btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fface8), to(#ae80e5));
  background-image: linear-gradient(to bottom right, #fface8, #ae80e5);
  -webkit-box-shadow: 7px 7px 10px #31302e;
          box-shadow: 7px 7px 10px #31302e;
  opacity: 0;
  z-index: 0;
  border-radius: 30px;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 20px 20px 40px;
}

@media screen and (min-width: 600px) {
  aside {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "aside-head aside-head aside-head" "aside1 aside2 aside3";
    grid-gap: 20px;
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
  }
  aside .aside-head {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: aside-head;
  }
  aside .aside1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: aside1;
  }
  aside .aside2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: aside2;
  }
  aside .aside3 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: aside3;
  }
}

aside .fonctio {
  -webkit-box-shadow: 7px 7px 10px #e6ded1;
          box-shadow: 7px 7px 10px #e6ded1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f5f2eb;
  width: 100%;
  height: 80px;
  border-radius: 22px;
  -webkit-transition: all 600ms cubic-bezier(0.28, 2.03, 0.79, -0.99);
  transition: all 600ms cubic-bezier(0.28, 2.03, 0.79, -0.99);
}

aside .fonctio:hover {
  background-color: #f2eafb;
}

aside .fonctio:hover .fonctio_icon {
  color: #9356DC;
}

aside .fonctio .fonctio_number {
  background-color: #9356DC;
  color: white;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5%;
  position: relative;
  right: 15px;
}

aside .fonctio .fonctio_icon {
  width: 20px;
  font-size: 25px;
  color: #b0976e;
  margin-right: 7%;
}

aside .fonctio .fonctio_info {
  font-weight: bold;
  font-size: 19px;
}

main {
  background-color: #f5f2eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

@media screen and (min-width: 600px) {
  main {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "main-head main-head" "menu1 menu2" "menu3 menu4";
    grid-gap: 20px;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
  }
  main .main-head {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main-head;
  }
  main .menu1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: menu1;
    width: 45%;
  }
  main .menu2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: menu2;
    width: 45%;
  }
  main .menu3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: menu3;
    width: 45%;
  }
  main .menu4 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: menu4;
    width: 45%;
  }
}

main .resto-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  width: 100%;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 7px 7px 10px #e6ded1;
          box-shadow: 7px 7px 10px #e6ded1;
  border-radius: 20px;
  margin-bottom: 30px;
  color: black;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
}

main .resto-select:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 7px 7px 10px #31302e;
          box-shadow: 7px 7px 10px #31302e;
}

main .resto-select .resto-select_new {
  z-index: 4;
  position: absolute;
  right: 40px;
  margin-top: 20px;
  padding: 5px 15px;
  color: #278870;
  background-color: #99E2D0;
}

main .resto-select .resto-select_img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .resto-select .resto-select_footer {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 50px;
}

main .resto-select .resto-select_footer .resto_select-like_btn {
  position: relative;
  right: 35px;
  bottom: 30px;
  background-color: none;
  border: none;
  cursor: pointer;
}

main .resto-select .resto-select_footer .resto_select-like_btn:hover .heart_full {
  -webkit-animation: full-heart 1500ms cubic-bezier(0.1, 1.32, 0.54, 0.82) forwards;
          animation: full-heart 1500ms cubic-bezier(0.1, 1.32, 0.54, 0.82) forwards;
}

main .resto-select .resto-select_footer .resto_select-like_btn:not(hover) .heart_full {
  -webkit-animation: empty-heart 1500ms cubic-bezier(0.1, 1.32, 0.54, 0.82) forwards;
          animation: empty-heart 1500ms cubic-bezier(0.1, 1.32, 0.54, 0.82) forwards;
}

main .resto-select .resto-select_footer .resto_select-like_btn .heart_empty {
  position: absolute;
  height: 35px;
  width: 35px;
  opacity: 1;
  z-index: 1;
}

main .resto-select .resto-select_footer .resto_select-like_btn .heart_full {
  position: absolute;
  opacity: 0;
  height: 35px;
  width: 35px;
  z-index: 2;
}

@-webkit-keyframes full-heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes full-heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes empty-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes empty-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

main .resto-select .resto-select_footer .resto-select_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 260px;
}

main .resto-select .resto-select_footer .resto-select_title .resto-select_name {
  font-weight: bold;
  font-size: 19px;
  margin: -20px 0 0 0;
}

main .resto-select .resto-select_footer .resto-select_title .resto-select_location {
  margin: 10px 0 0 0;
  font-size: 18px;
  font-family: robotothin;
  font-weight: bold;
}

.order-btn {
  border: none;
  border-radius: 30px;
  padding: 15px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 7px 7px 10px #e6ded1;
          box-shadow: 7px 7px 10px #e6ded1;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 60px;
  margin-top: 20px;
}

.order-btn:hover {
  cursor: pointer;
}

.order-btn:hover::after {
  opacity: .7;
}

.order-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fface8), to(#ae80e5));
  background-image: linear-gradient(to bottom right, #fface8, #ae80e5);
  -webkit-box-shadow: 7px 7px 10px #31302e;
          box-shadow: 7px 7px 10px #31302e;
  opacity: 0;
  z-index: 0;
  border-radius: 30px;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.menu_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("Roboto-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhand';
  src: url("Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: robotoregular;
  margin-left: 0px;
  margin-right: 0px;
}

a {
  text-decoration: none;
}

.subheader-img-1 {
  background-image: url("../assets/menu1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  z-index: 0;
}

.subheader-img-2 {
  background-image: url("../assets/menu2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  z-index: 0;
}

.subheader-img-3 {
  background-image: url("../assets/menu3.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  z-index: 0;
}

.subheader-img-4 {
  background-image: url("../assets/menu4.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  z-index: 0;
}

.menu-form2 {
  height: 1550px;
}

.menu-form {
  z-index: 1;
  background-color: #f5f2eb;
  padding-top: 10px;
  margin-top: -50px;
  padding-bottom: -100px;
  border-radius: 50px 50px 0 0;
  min-height: 1450px;
}

@media screen and (min-width: 1200px) {
  .menu-form {
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". resto-name resto-name" "entree main dessert" ". button ." ". . .";
    -ms-grid-rows: -500px 500px 100px -300px;
        grid-template-rows: -500px 500px 100px -300px;
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
    max-height: 900px;
  }
}

.menu-form .resto-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  grid-area: resto-name;
}

.menu-form .resto-name h1 {
  font-family: shrikhand;
  -webkit-animation: slideDown 1000ms forwards cubic-bezier(1, 0.24, 0.34, 0.92);
          animation: slideDown 1000ms forwards cubic-bezier(1, 0.24, 0.34, 0.92);
}

@media screen and (min-width: 1200px) {
  .menu-form .resto-name h1 {
    font-size: 40px;
  }
}

.menu-form .resto-name .heart {
  margin-right: 35px;
  position: relative;
  bottom: 20px;
  right: 20px;
  -webkit-animation: spin 500ms linear;
          animation: spin 500ms linear;
}

.menu-form .resto-name .heart:hover .heart_full {
  -webkit-animation: full-heart 1500ms cubic-bezier(0.1, 1.32, 0.54, 0.82) forwards;
          animation: full-heart 1500ms cubic-bezier(0.1, 1.32, 0.54, 0.82) forwards;
}

.menu-form .resto-name .heart:not(hover) .heart_full {
  -webkit-animation: empty-heart 1500ms cubic-bezier(0.1, 1.32, 0.54, 0.82) forwards;
          animation: empty-heart 1500ms cubic-bezier(0.1, 1.32, 0.54, 0.82) forwards;
}

.menu-form .resto-name .heart .heart_empty {
  position: absolute;
  height: 35px;
  width: 35px;
  opacity: 1;
  z-index: 1;
}

.menu-form .resto-name .heart .heart_full {
  position: absolute;
  opacity: 0;
  height: 35px;
  width: 35px;
  z-index: 2;
}

@keyframes full-heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes empty-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: perspective(20px) rotateX(20deg) translateY(-100%);
            transform: perspective(20px) rotateX(20deg) translateY(-100%);
  }
  100% {
    -webkit-transform: perspective(0px) rotateX(0deg) translateY(0%);
            transform: perspective(0px) rotateX(0deg) translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: perspective(20px) rotateX(20deg) translateY(-100%);
            transform: perspective(20px) rotateX(20deg) translateY(-100%);
  }
  100% {
    -webkit-transform: perspective(0px) rotateX(0deg) translateY(0%);
            transform: perspective(0px) rotateX(0deg) translateY(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: scale(0) translateX(-100%);
            transform: scale(0) translateX(-100%);
  }
  50% {
    -webkit-transform: scale(0.5) translateX(50%);
            transform: scale(0.5) translateX(50%);
  }
  100% {
    -webkit-transform: scale(1) translateX(0%);
            transform: scale(1) translateX(0%);
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: scale(0) translateX(-100%);
            transform: scale(0) translateX(-100%);
  }
  50% {
    -webkit-transform: scale(0.5) translateX(50%);
            transform: scale(0.5) translateX(50%);
  }
  100% {
    -webkit-transform: scale(1) translateX(0%);
            transform: scale(1) translateX(0%);
  }
}

.menu-form .menu-type_entree {
  -webkit-animation: slideRight 800ms forwards cubic-bezier(1, 0.24, 0.34, 0.92);
          animation: slideRight 800ms forwards cubic-bezier(1, 0.24, 0.34, 0.92);
  grid-area: entree;
}

.menu-form .menu-type_main {
  -webkit-animation: slideRight 800ms 500ms both cubic-bezier(1, 0.24, 0.34, 0.92);
          animation: slideRight 800ms 500ms both cubic-bezier(1, 0.24, 0.34, 0.92);
  grid-area: main;
}

.menu-form .menu-type_dessert {
  -webkit-animation: slideRight 800ms 1000ms both cubic-bezier(1, 0.24, 0.34, 0.92);
          animation: slideRight 800ms 1000ms both cubic-bezier(1, 0.24, 0.34, 0.92);
  grid-area: dessert;
}

.menu-form .menu-type_entree input[type="checkbox"], .menu-form .menu-type_main input[type="checkbox"], .menu-form .menu-type_dessert input[type="checkbox"] {
  display: none;
}

.menu-form .menu-type_entree input[type="checkbox"]:checked + .menu-choices > .menu-choice_selected, .menu-form .menu-type_main input[type="checkbox"]:checked + .menu-choices > .menu-choice_selected, .menu-form .menu-type_dessert input[type="checkbox"]:checked + .menu-choices > .menu-choice_selected {
  -webkit-animation: selected 1000ms cubic-bezier(0.16, 0.82, 0, 1.02) forwards;
          animation: selected 1000ms cubic-bezier(0.16, 0.82, 0, 1.02) forwards;
}

.menu-form .menu-type_entree input[type="checkbox"]:checked + .menu-choices > .menu-choice_selected > .fa-check-circle, .menu-form .menu-type_main input[type="checkbox"]:checked + .menu-choices > .menu-choice_selected > .fa-check-circle, .menu-form .menu-type_dessert input[type="checkbox"]:checked + .menu-choices > .menu-choice_selected > .fa-check-circle {
  -webkit-animation: spin 1000ms 100ms cubic-bezier(0.16, 0.82, 0, 1.02) forwards;
          animation: spin 1000ms 100ms cubic-bezier(0.16, 0.82, 0, 1.02) forwards;
}

.menu-form .menu-type_entree input[type="checkbox"]:not(:checked) + .menu-choices > .menu-choice_selected, .menu-form .menu-type_main input[type="checkbox"]:not(:checked) + .menu-choices > .menu-choice_selected, .menu-form .menu-type_dessert input[type="checkbox"]:not(:checked) + .menu-choices > .menu-choice_selected {
  -webkit-animation: un-selected 1000ms cubic-bezier(0.16, 0.82, 0, 1.02) forwards;
          animation: un-selected 1000ms cubic-bezier(0.16, 0.82, 0, 1.02) forwards;
}

.menu-form .menu-type_entree input[type="checkbox"]:not(:checked) + .menu-choices > .menu-choice_selected > .fa-check-circle, .menu-form .menu-type_main input[type="checkbox"]:not(:checked) + .menu-choices > .menu-choice_selected > .fa-check-circle, .menu-form .menu-type_dessert input[type="checkbox"]:not(:checked) + .menu-choices > .menu-choice_selected > .fa-check-circle {
  -webkit-animation: un-spin 1000ms 100ms cubic-bezier(0.16, 0.82, 0, 1.02) forwards;
          animation: un-spin 1000ms 100ms cubic-bezier(0.16, 0.82, 0, 1.02) forwards;
}

.menu-form .menu-type_entree .menu-choice_selected, .menu-form .menu-type_main .menu-choice_selected, .menu-form .menu-type_dessert .menu-choice_selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #99E2D0;
  z-index: 1;
  width: 90px;
  height: 80px;
  border-radius: 0 20px 20px 0;
  margin-right: -70px;
}

@-webkit-keyframes selected {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    margin-right: -80px;
    -webkit-transform-origin: 100%;
            transform-origin: 100%;
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    margin-right: 0px;
  }
}

@keyframes selected {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    margin-right: -80px;
    -webkit-transform-origin: 100%;
            transform-origin: 100%;
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    margin-right: 0px;
  }
}

@-webkit-keyframes un-selected {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    margin-right: 0px;
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    margin-right: -80px;
    -webkit-transform-origin: 100%;
            transform-origin: 100%;
  }
}

@keyframes un-selected {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    margin-right: 0px;
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    margin-right: -80px;
    -webkit-transform-origin: 100%;
            transform-origin: 100%;
  }
}

.menu-form .menu-type_entree .menu-choice_selected .fa-check-circle, .menu-form .menu-type_main .menu-choice_selected .fa-check-circle, .menu-form .menu-type_dessert .menu-choice_selected .fa-check-circle {
  color: white;
  font-size: 28px;
  z-index: 2;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes un-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
  }
}

@keyframes un-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
  }
}

.menu-form .menu-type {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-form .menu-type .menu-type_title {
  font-family: robotothin;
}

.menu-form .menu-type .menu-type_title_underline {
  width: 50px;
  height: 4px;
  background-color: #99E2D0;
  margin-top: -15px;
}

@media screen and (min-width: 1200px) {
  .menu-form .menu-type .menu-type_title_underline {
    margin-top: -35px;
  }
}

.menu-form .menu-type .menu-choices {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 7px 7px 10px #e6ded1;
          box-shadow: 7px 7px 10px #e6ded1;
  width: 99%;
  height: 80px;
  margin-top: 15px;
}

.menu-form .menu-type .menu-choices .menu-choice_details {
  position: relative;
  left: 10px;
  width: 80%;
  max-width: 90%;
}

.menu-form .menu-type .menu-choices .menu-choice_details:nth-child(1) {
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .menu-form .menu-type .menu-choices .menu-choice_details:nth-child(1) {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-form .menu-type .menu-choices .menu-choice_details:nth-child(1) {
    font-size: 20px;
  }
}

.menu-form .menu-type .menu-choices .menu-choice_details:nth-child(2) {
  position: relative;
  bottom: 10px;
  font-family: robotothin;
  font-size: 0.7rem;
  font-weight: lighter;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .menu-form .menu-type .menu-choices .menu-choice_details:nth-child(2) {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-form .menu-type .menu-choices .menu-choice_details:nth-child(2) {
    font-size: 16px;
  }
}

.menu-form .menu-type .menu-choices .menu-choice_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-right: 0;
  padding-right: 0;
  margin-left: 8px;
  min-width: 36px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.1rem;
  font-weight: bold;
}

.menu-form .menu_btn {
  grid-area: button;
}

@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("Roboto-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhand';
  src: url("Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: robotoregular;
  margin-left: 0px;
  margin-right: 0px;
}

a {
  text-decoration: none;
}

.order-btn {
  border: none;
  border-radius: 30px;
  padding: 15px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 7px 7px 10px #e6ded1;
          box-shadow: 7px 7px 10px #e6ded1;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 60px;
  margin-top: 20px;
}

.order-btn:hover {
  cursor: pointer;
}

.order-btn:hover::after {
  opacity: .7;
}

.order-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fface8), to(#ae80e5));
  background-image: linear-gradient(to bottom right, #fface8, #ae80e5);
  -webkit-box-shadow: 7px 7px 10px #31302e;
          box-shadow: 7px 7px 10px #31302e;
  opacity: 0;
  z-index: 0;
  border-radius: 30px;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.menu_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */