@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../components/buttons";
@import "../components/title";
@import "../base/typography";

footer{
    @include flex-column;
    align-items: flex-start;
    background-color: $dark-grey;
    padding: $padding;
    margin-bottom: 0;
    @include tablet-size{
        flex-direction: row;
        padding-right: 20px;
    }
    img{
        width: 100px;
        filter: invert(100);
        margin-bottom: 20px;
    }
    a{
        color: white;
        margin-bottom: 5px;
        i{
            width: 25px;
        }
        &:hover{
            border-bottom: solid 1px white;
        }
    }
}

