@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../components/buttons";
@import "../components/title";
@import "../base/typography";
@import "../components/loading";

@include loading;
h1{
    @include title;
}
.subheader{
    background-color: $medium-grey;
    margin-top: 2px;
    @include flex-row;
    justify-content: center;
    height: 3rem;
    color: $dark-grey;
    font-weight: bold;
    z-index: 1;
    .fas{
        position: relative;
        right: 1.6rem;
        font-size: 1.4rem;
    }
}

.nav{
    background-color: $light-grey;
    @include flex-column;
    align-items: center;
    padding: 10px 40px;
    text-align: center;
    
    .nav_undertitle{
        font-family: robotothin;
        font-size: 22px;
        color: $dark-grey;
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .nav_btn{
        @include button;
        margin-bottom: 60px;
    }
}
aside{
    @include flex-column;
    padding: 20px 20px 20px 40px;
    @include tablet-size{
        .aside-head{
            grid-area: aside-head;
        }
        .aside1{
            grid-area: aside1;
        }
        .aside2{
            grid-area: aside2;
        }
        .aside3{
            grid-area: aside3;
        }
        display: grid;
        grid-template-areas: 
        "aside-head aside-head aside-head"
        "aside1 aside2 aside3";
        grid-gap: 20px;
        grid-template-columns: 30% 30% 30%;
    }

    .fonctio{
        @include box-shadow;
        @include flex-row;
        @include margin-bottom;
        justify-content: flex-start;
        background-color: $light-grey;
        width: 100%;
        height: 80px;
        border-radius: 22px;
        transition: all 600ms cubic-bezier(.28,2.03,.79,-0.99);
        &:hover{
            background-color: lighten($primary-color, 35%);
            .fonctio_icon{
                color: $primary-color;
                }
        }
        .fonctio_number{
            background-color: $primary-color;
            color: white;
            border-radius: 30px;
            height: 30px;
            width: 30px;
            @include flex-column;
            align-items: center;
            margin-right: 5%;
            position: relative;
            right: 15px;
        }
        .fonctio_icon{
            width: 20px;
            font-size: 25px;
            color: darken($medium-grey, 30%);
            margin-right: 7%;
        }
        .fonctio_info{
            @include vignette-title;

        }
    }    
}
main{
    background-color: $light-grey;
    @include flex-column;
    padding: $padding;
    @include tablet-size{
        .main-head{
            grid-area: main-head;
        }
        .menu1{
            grid-area: menu1;
            width: 45%;
        }
        .menu2{
            grid-area: menu2;
            width: 45%;
        }
        .menu3{
            grid-area: menu3;
            width: 45%;
        }
        .menu4{
            grid-area: menu4;
            width: 45%;
        }
        display: grid;
        grid-template-areas: 
        "main-head main-head"
        "menu1 menu2"
        "menu3 menu4";
        grid-gap: 20px;
        grid-template-columns: 40% 40%;

    }
    .resto-select{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        width: 100%;
        background-color: white;
        position: relative;
        @include box-shadow;
        border-radius: 20px;
        @include margin-bottom;
        color: black;
        transition: 500ms;
        cursor: pointer;
        &:hover{  
            transform: scale(1.05);
            box-shadow: 7px 7px 10px $dark-grey;
            
        }
        .resto-select_new{
            z-index: 4;
            position: absolute;
            right: 40px;
            margin-top: 20px;
            padding: 5px 15px;
            color: darken($tertiary-color, 40%);
            background-color: $tertiary-color;
        }
        .resto-select_img{
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 200px;
            margin-bottom: 10px;
            object-fit: cover;
        }
        .resto-select_footer{
            z-index: 1;
            @include flex-row;
            padding: 10px;
            height: 50px;
            .resto_select-like_btn{
                position: relative;
                @include heart;
                right: 35px;
                bottom: 30px;
                background-color: none;
                border: none;
                cursor: pointer;
            }
            .resto-select_title{
                @include flex-column;
                width: 260px;
                .resto-select_name{
                    @include vignette-title;
                    margin: -20px 0 0 0;
                }
                .resto-select_location{
                    margin: 10px 0 0 0;
                    font-size: 18px;
                    font-family: robotothin;
                    font-weight: bold;
                }
            }
        }
    }
}